<div class="division">
  <p style="margin: 7px; text-align: justify; text-justify: inter-word;padding: 10px;text-indent:10px;font-size: 25px; "> Sabendo das potencialidades das tecnologias de informação em saúde e da necessidade de informações específicas a cerca
    dos produtos biológicos/biossimilares, surgiu o interesse em desenvolver um protótipo direcionado <b>a captar 
    informações para a farmacovigilância dos medicamentos biológicos e biossimilares.</b></p>
    <p style="margin: 7px; text-align: justify; text-justify: inter-word;padding: 10px;text-indent:10px;font-size: 25px;">Considerando sua expertise na área e/ou experiência pessoal, venho convida-lo(a) a participar deste estudo como avaliador. 
    Após navegar no protótipo, por favor, compartilhe sua percepção via questionário de avaliação (disponível no seu e-mail convite). 
  </p>
  <p style="margin: 7px; text-align: justify; text-justify: inter-word;padding: 10px;text-indent:10px;font-size: 25px;">Acesse mais informações clicando aqui! 
  </p>
  <p style="margin: 7px; text-align: justify; text-justify: inter-word;padding: 10px;text-indent:10px;font-size: 25px;"> Obrigada por integrar ao Comitê Avaliador!
  </p>

</div>
