<form [formGroup]="fb" class="form-margin" *ngIf="fb">

  <div class="division" style="display: flex;">
    <div class="block m10" style="margin: auto;">
      <!-- <div class="division">

        <responsavel [responsavel]="responsavel"></responsavel>

      </div> -->
      <div class="division">
        <h2 class="raleway" style="color: #0376bb;">
        </h2>
        <div class="division">
          A tela abaixo é sugerida para identificar todos medicamentos administrados, 
          com indicação rápida sobre troca/substituição e evento adverso do paciente selecionado.
          <img src="assets/intercambialidade.png">
        </div>

      </div>

      
      <div class="division">
       
        <!--
          evoluir para adicionar varias reações com informação de inicio e e usuario que reporta, quem sabe integrar como o vigimed via api .
          https://primaryreporting.who-umc.org/Reporting/Report?ReporterID=25ba563e-f7f9-4d9d-b9cd-61a1d9589d39 -->

      </div>

    </div>
  </div>

</form>

<div id="actions"
  style="align-items: center; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; margin-top: 15px;">
  <div style="margin: 0 auto;">

    <button mat-button style="color: #1d9bbb" *ngIf="fb != null" (click)="back_stepper()" matTooltipPosition="above"
      matTooltip="Voltar">
      <mat-icon>arrow_back</mat-icon>
      <strong>Voltar</strong>
    </button>

  </div>
</div>
